<nav class="bg-red-600 shadow-lg">
  <div class="max-w-7xl mx-auto px-4">

    <div class="flex h-20 items-center justify-between">

      <!-- Logo -->
      <img src="/imagenes/logoSmash.png" alt="Smash Stats" class="h-20">

      <!-- Menú -->
      <div class="flex items-center gap-8">

        <a href="/Perfil" class="text-white font-bold transition-transform duration-300 hover:scale-125 cursor-pointer">
          Perfil
        </a>

        <a class="text-white font-bold transition-transform duration-300 hover:scale-125 cursor-pointer">
          Win Rates
        </a>

       <a class="text-white font-bold transition-transform duration-300 hover:scale-125 cursor-pointer">
          Roster
        </a>

        <a class="text-white font-bold transition-transform duration-300 hover:scale-125 cursor-pointer">
          Salir
        </a>

      </div>

    </div>

  </div>
</nav>