<app-navbar />

<div class="bg-white rounded-2xl shadow-xl border border-gray-100 p-4 md:p-8 mx-4 md:mx-8 mt-6">


   <div class="flex flex-col lg:flex-row items-center gap-10">

        <!-- Imagen -->
        <div class="w-full lg:w-1/2 flex justify-center bg-white">

          @if(!selectedCharacter()){

            <div class="flex flex-col items-center">

                <div
                    class="
                        w-[380px]
                        h-[380px]
                        rounded-full
                        border-8
                        border-dashed
                        border-red-500
                        flex
                        flex-col
                        items-center
                        justify-center
                        bg-white
                        transition">

                    <span class="text-8xl text-red-400 font-light">
                        +
                    </span>

                    <p class="mt-5 text-2xl font-bold text-gray-700">
                        Selecciona un personaje
                    </p>

                    <p class="mt-2 text-center text-gray-500 max-w-[230px] leading-6">
                        selecciona un personaje para ver sus estadisticas individuales
                    </p>

                </div>

                <div class="mt-8 w-[320px]">

                    <label class="block mb-2 text-sm font-semibold text-gray-600">
                        🎮 Personaje
                    </label>

                <ng-select
                    [items]="roster()"
                    bindLabel="character.name"
                    [searchable]="true"
                    [clearable]="false"
                    placeholder="Buscar personaje..."
                    (change)="seleccionarPersonaje($event)">
                </ng-select>


                  <!-- Modalidad -->
                <div class="mt-6">

                    <label class="block mb-3 text-sm font-semibold text-gray-600">
                        🌐 Modalidad
                    </label>

                    <div class="flex justify-center gap-2 flex-wrap">

                        <button
                            (click)="seleccionarModalidad(undefined)"
                            [class.bg-red-600]="onlineFilter() === undefined"
                            [class.text-white]="onlineFilter() === undefined"
                            class="px-4 py-2 rounded-lg border border-gray-300 hover:bg-red-600 hover:text-white transition cursor-pointer">

                            Todas

                        </button>

                        <button
                            (click)="seleccionarModalidad(true)"
                            [class.bg-red-600]="onlineFilter() === true"
                            [class.text-white]="onlineFilter() === true"
                            class="px-4 py-2 rounded-lg border border-gray-300 hover:bg-red-600 hover:text-white transition cursor-pointer">

                            Online

                        </button>

                        <button
                            (click)="seleccionarModalidad(false)"
                            [class.bg-red-600]="onlineFilter() === false"
                            [class.text-white]="onlineFilter() === false"
                            class="px-4 py-2 rounded-lg border border-gray-300 hover:bg-red-600 hover:text-white transition cursor-pointer">

                            Offline

                        </button>

                    </div>

                </div>


                </div>

            </div>

        }@else{


            <div class="flex flex-col items-center">


            <div
            class="w-[380px] h-[380px] rounded-full border-8 border-red-600 shadow-lg flex items-center justify-center">

                <img
                    [src]="'/imagenes/Super Smash Bros. Ultimate Renders/' + selectedCharacter()!.character.id + '.png'"
                    class="w-[300px] h-[300px] object-contain">

            </div>


            @if(selectedCharacter()){

            <button
                (click)="selectedCharacter.set(null)"
                class="inline-flex items-center gap-2 px-5 py-3 rounded-full border border-gray-300 bg-white text-gray-700 font-semibold shadow-sm hover:bg-gray-50 hover:border-gray-400 transition cursor-pointer">

                ← Volver a estadísticas generales

            </button>

            }


                <div class="mt-8 w-[320px]">

                    <label class="block mb-2 text-sm font-semibold text-gray-600">
                        🎮 Personaje
                    </label>

                <ng-select
                    [items]="roster()"
                    bindLabel="character.name"
                    [searchable]="true"
                    [clearable]="false"
                    placeholder="Buscar personaje..."
                    (change)="seleccionarPersonaje($event)">
                </ng-select>


                  <!-- Modalidad -->
                <div class="mt-6">

                    <label class="block mb-3 text-sm font-semibold text-gray-600">
                        🌐 Modalidad
                    </label>

                    <div class="flex justify-center gap-2 flex-wrap">

                        <button
                            (click)="seleccionarModalidad(undefined)"
                            [class.bg-red-600]="onlineFilter() === undefined"
                            [class.text-white]="onlineFilter() === undefined"
                            class="px-4 py-2 rounded-lg border border-gray-300 hover:bg-red-600 hover:text-white transition cursor-pointer">

                            Todas

                        </button>

                        <button
                            (click)="seleccionarModalidad(true)"
                            [class.bg-red-600]="onlineFilter() === true"
                            [class.text-white]="onlineFilter() === true"
                            class="px-4 py-2 rounded-lg border border-gray-300 hover:bg-red-600 hover:text-white transition cursor-pointer">

                            Online

                        </button>

                        <button
                            (click)="seleccionarModalidad(false)"
                            [class.bg-red-600]="onlineFilter() === false"
                            [class.text-white]="onlineFilter() === false"
                            class="px-4 py-2 rounded-lg border border-gray-300 hover:bg-red-600 hover:text-white transition cursor-pointer">

                            Offline

                        </button>

                    </div>

                </div>

                </div>
            </div>
        }

        <br>

        

        
        </div>

        <!-- Estadísticas -->
        <div class="w-full lg:w-1/2 flex flex-col justify-center text-center lg:text-left">

            @if (winRate().games > 0) {

             @if(!selectedCharacter()){

            <h1 class="text-5xl font-extrabold text-gray-800">
                Estadísticas generales
            </h1>

            }@else {

            <h1 class="text-5xl font-extrabold text-gray-800">
                Estadísticas de {{selectedCharacter().character.name }}
            </h1>

            }

            <div class="mt-10">

                <h2 class="text-gray-500 text-lg">
                    Win Rate
                </h2>

                <p class="text-5xl md:text-7xl font-extrabold text-red-600">
                    {{winRate().winRate}}%
                </p>

            </div>

            <div class="flex justify-center lg:justify-start gap-8 md:gap-16 mt-10">

                <div>
                    <p class="text-gray-500 text-lg">
                        Victorias
                    </p>

                    <p class="text-5xl font-bold text-green-600">
                        {{winRate().wins}}
                    </p>
                </div>

                <div>
                    <p class="text-gray-500 text-lg">
                        Derrotas
                    </p>

                    <p class="text-5xl font-bold text-red-600">
                         {{winRate().games - winRate().wins}}
                    </p>
                </div>

            </div>

            }@else {
        
            <div class="mt-12 rounded-xl border-2 border-dashed border-gray-300 p-8 text-center">

                    <p class="text-5xl mb-3">📊</p>

                    <h2 class="text-2xl font-bold text-gray-700">
                        Aún no hay estadísticas
                    </h2>

                    <p class="mt-2 text-gray-500">
                        Registra algunos combates para comenzar a ver tu win rate y rendimiento.
                    </p>

            </div>


             }

        </div>


    </div>


    @if (winRate().games > 0) {


<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-6 mt-8">

  @if(cards().worstMatchup){

    <a [routerLink]="['/elenco/enfrentamientos/estadisticas/' + selectedCharacter().id]"
    class="block bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition duration-200 cursor-pointer">

     <!-- Tarjeta -->
  <div class="bg-white rounded-xl shadow-lg overflow-hidden">

    <!-- Título -->
    <div class="bg-red-600 text-white text-center font-bold py-3">
      peores enfrentamientos
    </div>

    <!-- Imagen -->
    <div class="flex justify-center items-center p-6">
      <img
        [src]="'/imagenes/Super Smash Bros. Ultimate Renders/'+cards().worstMatchup.id+'.png'"
        class="w-32 h-32 object-contain">
    </div>

    <!-- Texto -->
    <div class="text-center text-gray-600 font-medium pb-4">
      {{cards().worstMatchup.name}}
    </div>

  </div>
  </a>
  
}

  @if(cards().bestMatchup){

    <a [routerLink]="['/elenco/enfrentamientos/estadisticas/' + selectedCharacter().id]"
    class="block bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition duration-200 cursor-pointer">


  <!-- Tarjeta -->
  <div class="bg-white rounded-xl shadow-lg overflow-hidden">

    <div class="bg-red-600 text-white text-center font-bold py-3">
      Mejores Enfrentamientos
    </div>

    <div class="flex justify-center items-center p-6">
      <img
        [src]="'/imagenes/Super Smash Bros. Ultimate Renders/'+cards().bestMatchup.id+'.png'"
        class="w-32 h-32 object-contain">
    </div>

    <div class="text-center text-gray-600 font-medium pb-4">
      {{cards().bestMatchup.name}}
    </div>

  </div>

  </a>
  }

    @if(cards().worstCharacter){

    <a
    [routerLink]="['/elenco/estadisticas']"
    class="block bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition duration-200 cursor-pointer">
        
        <div class="bg-white rounded-xl shadow-lg overflow-hidden">

            <div class="bg-red-600 text-white text-center font-bold py-3">
            peor personaje
            </div>

            <div class="flex justify-center items-center p-6">
            <img
                [src]="'/imagenes/Super Smash Bros. Ultimate Renders/'+ cards().worstCharacter.id + '.png'"
                class="w-32 h-32 object-contain">
            </div>

            <div class="text-center text-gray-600 font-medium pb-4">
            {{cards().worstCharacter.name}}
            </div>

        </div>

    </a>
    }

    @if(cards().bestCharacter){
     
    <a
    [routerLink]="['/elenco/estadisticas']"
    class="block bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition duration-200 cursor-pointer">
       
        <div class="bg-white rounded-xl shadow-lg overflow-hidden">

            <div class="bg-red-600 text-white text-center font-bold py-3">
            Mejor personaje
            </div>

            <div class="flex justify-center items-center p-6">
            <img
                [src]="'/imagenes/Super Smash Bros. Ultimate Renders/'+ cards().bestCharacter.id + '.png'"
                class="w-32 h-32 object-contain">
            </div>

            <div class="text-center text-gray-600 font-medium pb-4">
            {{cards().bestCharacter.name}}
            </div>

        </div>
    </a>

    }


  @if(cards().worstStage){
   <a
    [routerLink]="['/escenarios/estadisticas']"
    class="block bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition duration-200 cursor-pointer">


  <!-- Tarjeta -->
  <div class="bg-white rounded-xl shadow-lg overflow-hidden">

    <div class="bg-red-600 text-white text-center font-bold py-3">
      Peor escenario
    </div>

    <div class="flex justify-center items-center p-6">
      <img
        [src]="'/imagenes/stages/' + cards().worstStage.id + '.png'"
        class="w-52 h-32 object-cover rounded">
    </div>

    <div class="text-center text-gray-600 font-medium pb-4">
       {{cards().worstStage.name}}
    </div>

  </div>

   </a>
  }


    @if(cards().bestStage){
   <a
    [routerLink]="['/escenarios/estadisticas']"
    class="block bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition duration-200 cursor-pointer">


  <!-- Tarjeta -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden">

    <div class="bg-red-600 text-white text-center font-bold py-3">
      Mejor escenario
    </div>

    <div class="flex justify-center items-center p-6">
      <img
        [src]="'/imagenes/stages/' + cards().bestStage.id + '.png'"
        class="w-52 h-32 object-cover rounded">
    </div>

    <div class="text-center text-gray-600 font-medium pb-4">
      {{cards().bestStage.name}}
    </div>
    </div>   

   </a>
    }

     </div>
    }

        
    <div class="mt-8 bg-white rounded-xl shadow-xl overflow-hidden">

  <div class="bg-red-600 text-white px-6 py-4 flex flex-col sm:flex-row gap-4 justify-between items-center">

        <h2 class="text-xl font-bold">
          Últimos combates
        </h2>

        <a href="/nuevoCombate"
          class="px-5 py-2 rounded-lg bg-white text-red-600 font-semibold hover:bg-gray-100 transition cursor-pointer">
          + Registrar combate
        </a>

      </div>


        <div class="overflow-x-auto">
            <table class="w-full min-w-[650px]">

            <thead class="border-b-2 border-gray-300">
                <tr class="text-left text-gray-700">
                    <th class="px-6 py-3">Resultado</th>
                    <th class="px-6 py-3">Personaje</th>
                    <th class="px-6 py-3">Rival</th>
                    <th class="px-6 py-3">Stage</th>
                    <th class="px-6 py-3">Fecha</th>
                </tr>
            </thead>

            <tbody class="border-b-2 border-gray-300">

                @for (game of games(); track $index) {

                <tr>
                    @if(game.win){
                        <td class="px-6 py-4 text-green-600 font-bold">w</td>
                    }@else {
                        <td class="px-6 py-4 text-red-600 font-bold">L</td>
                    }

                    <td class="px-6 py-4">{{game.userRoster.character.name}}</td>

                    <td class="px-6 py-4">
                        {{
                            game.match.character1.id === game.userRoster.character.id
                            ? game.match.character2.name
                            : game.match.character1.name
                        }}
                    </td>

                    <td class="px-6 py-4">{{game.stage.name}}</td>
                    <td class="px-6 py-4 text-gray-500">
                        {{ getTimeAgo(game.created_at) }}
                    </td>
                </tr>
            }

            </tbody>

        </table>
        </div>
        </div>

        @if (games().length > 0) {

            <div class="flex flex-col md:flex-row items-center justify-between gap-5 mt-12 mb-16">

            <button
                (click)="paginaAnterior()"
                [disabled]="page() === 1"
                class="
                inline-flex
                items-center
                gap-2
                rounded-2xl
                border
                border-gray-300
                bg-white
                px-6
                py-3
                font-semibold
                text-gray-700
                shadow-sm
                hover:bg-gray-100
                hover:border-gray-400
                disabled:opacity-40
                disabled:cursor-not-allowed
                transition">

                ← Anterior

            </button>

            <div
                class="
                rounded-full
                bg-blue-50
                border
                border-blue-200
                px-6
                py-3
                text-blue-800
                font-bold
                shadow-sm">

                Página {{ page() }} de {{ totalPages() }}

            </div>

            <button
                (click)="paginaSiguiente()"
                [disabled]="page() === totalPages()"
                class="
                inline-flex
                items-center
                gap-2
                rounded-2xl
                bg-blue-600
                px-6
                py-3
                font-semibold
                text-white
                shadow-lg
                hover:bg-blue-700
                disabled:bg-blue-300
                disabled:cursor-not-allowed
                transition">

                Siguiente →

            </button>

            </div>

            }